---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
ColumnLimit: 80
IndentWidth: 8
TabWidth: 8
UseTab: Always
ContinuationIndentWidth: 8
AccessModifierOffset: -8
BreakBeforeBraces: Linux
IndentCaseLabels: false
NamespaceIndentation: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
...
